#auth {
    display: none;
    background: #fff;
    z-index: 2;
}

#app {
    z-index: 1;
}

div {
    display: flex;
}

main {
    position: relative;
    height: 100vh;
    /* height: 100%; */
    width: 100vw;
    overflow: hidden;
}

nav {
    height: 100vh;
    /* height: 100%; */
    padding: 1rem;
    z-index: 1;
}

.container {
    display: none;
    height: 100%;
    width: 100%;
    padding: 1rem 1rem 1rem 0.5rem;
    transition: .3s all ease;
    transition-delay: .1s;
}

.menu-container .card {
    background: #6e00ff;
    padding: 2rem 0;
}

.menu-brand {
    /* margin: .2rem 0; */
    padding: .5rem;
    border-radius: 20px;
    width: 100%;
    /* height: 50px; */
    /* transition: .3s all ease; */
}

.menu-brand.active {
    background: #6400e6;
    border-radius: 20px 0 0 20px;
    border-right: 6px solid #ffb300;
}

.menu-item {
    /* margin: .2rem 0; */
    /* padding: .5rem; */
    /* background: #fff; */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
}

.groups-container {
    padding: 0 1rem 1rem 0;
}

.group-sub-container {
    height: 55%;
}

.group-sub-container:first-child {
    padding-bottom: 1rem;
    height: 45%;
}

.group-sub-container>.card {
    padding: .8rem 0 .8rem 0;
    height: 100%;
    /* padding-bottom: 4rem !important; */
}

.scroll-y {
    overflow-y: scroll;
    /* to stop div contraction*/
    display: block;
}

.card {
    /* padding: .5rem; */
    background: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 6px 8px #b1b2e8;
}

.hamburger {
    padding: .5rem;
}

.hamburger .line {
    display: none !important;
}

.fallback,#popupFallback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* height: 100%; */
    background: #6400e61e;
    backdrop-filter: blur(10px);
    z-index: 1;
}


.visible,.curr-page {
    display: flex !important;
}

.msg-container {
    margin-top: .5rem;
    padding: .2rem .5rem;
    cursor: pointer;
}

.msg-container>.pic {
    width: 45px;
    height: 45px;
    background: #b1b2e8;
    border-radius: 50%;
    background-size: cover;
}

.msg-container .data {
    width: calc(100% - 50px);
    padding: .4rem;
}

.msg-container .data .sub-msg {
    padding-top: .2rem;
}

.name {
    color: #000;
    line-height: initial;
}

.date {
    font-size: 14px;
}

.msg .name {
    color: #c1c1c1;
    font-size: 12px;
}

.data {
    justify-content: center;
}

.name-cont {
    line-height: initial;
}

.msg-cont-head {
    position: absolute;
    /* height: 50px; */
    padding: .5rem;
    top: 0;
    z-index: 1;
    background: #fff;
}

.msg-cont-head .msg-container {
    margin: 0;
    padding: 0;
}

.msg-cont-body {
    position: relative;
    margin-top: 50px;
    height: calc(100% - 100px);
    padding: 0 .5rem 1rem .5rem;
}

.msg-cont-footer {
    position: absolute;
    bottom: 0;
    /* height: 50px; */
}

.msg-cont-footer>div {
    background: #fff;
    border-radius: 20px;
}

.msg {
    padding: .5rem .5rem 0;
    align-items: flex-start;
}

.msg-out {
    align-items: flex-end;
}

.msgbody {
    padding: .5rem 1rem;
    max-width: 70%;
    background-color: #b1b2e8;
    color: #000;
    /* border-radius: 20px; */
}

.msg-out .msgbody {
    background-color: #6e00ff;
    color: #fff;
}

.msg .msgbody {
    border-radius: 20px 20px 20px 5px;
}

.msg.msg-out>.msgbody {
    border-radius: 20px 20px 5px 20px;
}

#msg-back {
    display: none;
    padding: .5rem;
    font-size: 1.5em;
    transition: .1s all ease;
}

#msg-back:active {
    background: #b1b2e8;
    border-radius: 50%;
    color: #fff;
}

.sub-msg {
    font-size: 14px;
    line-height: initial;
}

.menu-item .auth-btn {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.menu-item .auth-btn img {
    width: 30px;
    height: 30px;
    padding-left: .3rem;
}

.control{
    width: 100%;
}
.control img {
    background-size: cover;
    width: 30px;
}

/** This is the css of the input **/

#w-input-container {
    /* display: block; */
    /* width: 500px; */

    width: calc(100% - 70px);
    min-height: 20px;
    box-sizing: border-box;
    padding: 9px 18px 11px;
    margin: 5px 10px;
    background-color: #fff;
    box-shadow: 2px 2px 8px #b1b2e8;
    /* border: 1px solid #b1b2e8; */
    border-radius: 20px;
}
#w-input-container-sub{
    display: block;
    /* width: calc(100% - 70px); */
    width: 100%;
}
.w-input-text-group {
    display: block;
    position: relative;
}

.w-placeholder {
    display: block;
    color: #5c5b5b;
    top: 0;
    pointer-events: none;
    user-select: none;
    position: absolute;
    opacity: 0;
    transition: 0.2s padding ease-in-out;
}

.message-input {
    display: block;
    color: #5c5b5b;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    max-height: 100px;
    min-height: 20px;
    padding: 0 0 0 2px;
    outline: 0;
    transition: 0.2s padding ease-in-out;
}

.message-input:empty+.w-placeholder {
    opacity: 1;
}

.message-input:focus+.w-placeholder {
    padding: 0 6px 0px;
}

.message-input:focus {
    padding: 0 6px 0px;
}
.btn{
    width: 30px;
    height: 30px;
}
.image-form{
    background: url(./assets/icons/image-o.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.message img {
    /* max-width: 300px; */
    max-height: 400px;
    width: 100%; /*to fit in parent div in all RESOLUTION*/
    border-radius: 20px 20px 5px 20px;
}
.btn-cont {
    width: 50px;
    margin-bottom: .3rem;
    padding: .5rem;
    cursor: pointer;
}

.btn-cont {
    width: 40px;
    background-image: url(./assets/icons/send.svg);
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.s-btn {
    margin-top: 1rem;
    background-color: #6e00ff;
    border-radius: 5px;
    color: #fff;
}

.s-btn:disabled {
    background-color: #6f00ff70;
    cursor: not-allowed;
}

.chatRoomContainer {
    display: none;
}

#chatRoom_NULL {
    background: #fff;
    border-radius: 20px;
    z-index: 1;
}

.login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.login-with-google-btn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.login-with-google-btn:active {
    background-color: #eeeeee;
}

.login-with-google-btn:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}
.popup{
    display: none;
    max-width: 760px;
    width: 95%;
    max-height: 500px;
    height: fit-content;
    z-index: 1;
}

@media(max-width:768px) {
    /* navbar */
    nav {
        position: fixed;
        top: 0;
        padding: 0;
        width: 100%;
        height: 70px;
    }
    nav .card {
        display: flex;
        border-radius: 0;
    }
    nav .card:last-child {
        position: fixed;
        width: 45vw;
        transform: translateX(-45vw);
        transition: .3s all ease;
        transition-delay: .05s;
        z-index: 1;
    }
    nav .card:last-child.active {
        transform: translateX(0);
    }
    .hamburger, .hamburger .line {
        display: block !important;
    }
    .card-sm {
        padding: 0 !important;
    }
    .card-sm>div:first-child {
        padding: 1rem !important;
    }
    .sliderHead {
        padding: .5rem 2rem 1rem;
    }
    .sliderLine {
        width: 50%;
        border-bottom: 4px solid #ffb300;
        left: 0;
        bottom: 0;
        transition: .3s all ease;
    }
    .sliderLine.active {
        transform: translateX(50vw);
    }
    .brand-sm {
        padding-left: .5rem;
        font-size: 22pt;
        color: #fff;
    }
    /* navbar */
    .container {
        padding: 0;
    }
    /* groups */
    .groups-container {
        position: absolute;
        flex-direction: row;
        width: 200vw;
        padding: 0;
        transition: .3s all ease;
    }
    .groups-container.active {
        transform: translateX(-100vw);
    }
    .group-sub-container, .group-sub-container:first-child {
        height: 100%;
        width: 100vw;
        padding: 0;
    }
    .group-sub-container .card {
        border-radius: 0;
        padding: .5rem;
    }
    /* groups */
    /* messages */
    .messages-container {
        transform: translateX(100vw);
        transition: .3s all ease;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .messages-container.active {
        transform: translateX(0);
    }
    .messages-container .card {
        border-radius: 0;
    }
    #msg-back {
        display: flex;
    }
    /* messages */
}